---
import { Image } from 'astro:assets';
import type { TypeBlog } from '../../types/type-content-collection';
interface Props {
  blogs: TypeBlog[];
};
const { blogs } = Astro.props;
---

<ul class="grid grid-cols-4 md:grid-cols-6 lg:grid-cols-9 gap-7">
  {blogs.map((blog: TypeBlog) => (
    <li class="col-span-4 md:col-span-3 lg:col-span-3 rounded-xl shadow-sm hover:-translate-y-1 duration-300">
      <a href={`/blog/${blog.data.category.id}/${blog.id}`}
        class="
          
        "
      >
        <article class="relative rounded-xl overflow-hidden bg-base-c h-full flex flex-col justify-between">
          <span class="py-1 px-3 absolute top-1 left-1 rounded-md text-xs backdrop-blur-xs bg-white/60">
            {blog.data.category.name}
          </span>
          <figure
            class="
            "
          >
            {blog.data.image.url && blog.data.image.alt && (
              <img
                src={blog.data.image.url}
                alt={blog.data.image.alt}
                class="aspect-video object-cover"
              />
            )}
          </figure>
            <div class="p-3 h-full">
              {blog.data.title}
            </div>
            <time
              datetime="2026-01-01"
              class="text-xs block py-2 pl-3"
            >
              {blog.data.publishedAt.substring(0,10)}
            </time>
        </article>
      </a>
    </li>
  ))}
</ul>