---
import type { ItfNavigationLabelPath } from "../../types/type-navigation";
import { getBreadcrumbInfoArr } from "../../utils/breadcrumb";
import { baseUrl } from "../../constants/constant-common";

interface Props {
  currentPageUrl: string;
  isPreview?: boolean;
};
const { currentPageUrl, isPreview = false } = Astro.props;
const breadcrumbInfoArr = getBreadcrumbInfoArr(currentPageUrl);
---

<div>
  <ul class="flex flex-wrap gap-2">
    {
      isPreview ?
        <li>
          <a href=`/${baseUrl}/` class="text-gray-300" >ホーム</a>
        </li>
        <p>&gt;</p>
        <li>
          <a href="#" class="pointer-events-none" >プレビュー</a>
        </li>
        :
        breadcrumbInfoArr.map((breadcrumbInfo: ItfNavigationLabelPath) => {
          if (!(breadcrumbInfoArr[breadcrumbInfoArr.length -1 ].label === breadcrumbInfo.label)) {
            return (
              <li>
                <a href={breadcrumbInfo.path} class="text-gray-300" >{breadcrumbInfo.label}</a>
              </li>
              <p>&gt;</p>
            )
          } else {
            return (
              <li>
                <a href={breadcrumbInfo.path} class="pointer-events-none" >{breadcrumbInfo.label}</a>
              </li>
            )
          }
        })
    }
  </ul>
</div>